---
import Section from "@/components/Section.astro"
import projectsData from "@/data/projects.json"

interface PortfolioItem {
  title: string
  category: string
  image: string
  description: string
  id: number
}

interface Props {
  items?: PortfolioItem[]
}

const { items = projectsData as PortfolioItem[] } = Astro.props
---

<Section
  title="Portfolio"
  description="A collection of my recent creative work and projects"
  id="projects"
>
  <div
    class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-8 mx-auto container"
  >
    {
      items.map(({ id, title, category, image, description }) => (
        <a href={`/projects/${id}`}>
          <article class="group relative overflow-hidden rounded-xl duration-300">
            <div class="aspect-[4/3] overflow-hidden">
              <img
                src={image}
                alt={title}
                class="w-full h-full object-cover group-hover:scale-105 transition-transform duration-300"
              />
            </div>
            <div class="p-6">
              <span class="text-sm text-slate-600 font-medium">{category}</span>
              <h3 class="text-xl font-semibold mt-2 mb-2 text-gray-900">
                {title}
              </h3>
              <p class="text-gray-600">{description}</p>
            </div>
          </article>
        </a>
      ))
    }
  </div>
</Section>
